<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="colorFondo"></div>
          <div class="row">
             <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 d-md-block mt-lg-5">
                <h1 class="text-center">{{$store.state.config.titulo}}</h1>
                <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5  mx-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <div class="col-xl-6 col-md-6">
              <div class="card col-md-10 mx-auto">
                <div class="row">
                  <div class="col-4">
                    <img width="180" height="38"
                      src="/img/asg/logo/taxi.svg"
                      :alt="$store.state.config.k1"
                    />
                  </div>
                  <div class="col-4">
                    <img src="/img/icon/reloj.png" name="img" width="70" height="70" alt="Reloj" />
                    <p>Obtén tu póliza hoy mismo</p>
                  </div>
                  <div class="col-4">
                    <img src="/img/icon/mail.png" name="img" width="70" height="70" alt="Lista" />
                    <p>Sin trámites Complicados</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <Contenido /> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0">
          <!-- BENEFICIOS -->
          <div class="col-xl-10 offset-xl-1">
            <div class="addCont">
              <span>
                Recibe todos los beneficios en tu
                <b>Seguro para Taxis</b>
              </span>
              <hr />
              <div class="row">
                <div class="col-12 col-sm-4">
                  <img src="/img/icon/1.svg" width="120" height="79" :alt="$store.state.config.k2" />
                  <p>Asistencia vial</p>
                </div>
                <div class="col-12 col-sm-4">
                  <img src="/img/icon/2.svg" width="120" height="79" :alt="$store.state.config.k3" />
                  <p>Auto sustituto</p>
                </div>
                <div class="col-12 col-sm-4">
                  <img src="/img/icon/3.svg" width="120" height="79" :alt="$store.state.config.k4" />
                  <p>{{$store.state.config.msi}} {{this.$store.state.config.extraMsg}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newAutosForm.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  layout: "index"&&"cookies",
  components: {
    formulario,
    cardpromo
  },
  beforeCreate() {
    this.$store.state.config.aseguradoraCatalogos = "QUALITAS";
    this.$store.state.config.aseguradora = 'TAXI';
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.idPagina = 45;
    this.$store.state.config.idMedioDifusion = 214;
    this.$store.state.config.idSubRamo = 63;
    this.$store.state.config.titulo = "Cotiza tu Seguro Para Taxi Rapidísimo"; // INDEX
    this.$store.state.config.k1 = "Seguros para Taxis";
    this.$store.state.config.k2 = "seguros de taxis";
    this.$store.state.config.k3 = "seguros de taxis en México";
    this.$store.state.config.dominioCorreo = "TAXIS|segurostaxis"
    this.$store.state.config.k4 = "seguros para taxis en México";
    this.$store.state.config.k5 = "seguro de auto para taxis";
    this.$store.state.config.k6 = "seguros taxis";
    this.$store.state.config.k7 = "mejor seguro de taxis";
    this.$store.state.config.gracias= '/timeline/thank-you'

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="taxis"
  },
  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradoraCatalogos,
        this.$store.state.config.subproduct
      );

            
        this.$store.commit("telApi");

  //Porcentajes y MESES SIN INTERESES
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
  head() {
    return {
      title: "🏅 Seguro para Taxis - Cotiza Seguros de Taxis en segundos",
      meta: [
        {
          hid: "Seguros para taxi",
          name: "keywords",
          content: "Seguro para Taxi, Seguros para Taxis, Seguro de Auto para Taxi, Seguros para Taxi, Cotizador de Seguros para Taxi, Seguros de Taxi, Seguro para Taxis, Seguros de Taxis, Seguro de Taxi, Seguro para Taxi CDMX, Cotizar Seguro de Auto para Taxi"
        },
        {
          hid: "description",
          name: "description",
          content: "Un Seguro para Taxi puede darte diferentes beneficios para que trabajes con tranquilidad. ✅ ¡Cotiza Seguros para Taxis en segundos!"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        { hid: "author", name: "author", content: "mejorsegurodeauto" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosdetaxi.com.mx/timeline"
        }
      ]
    };
  }
};
</script>
