<template>
  <div>
    <!-- <div class="text-center dinero"> -->
    <div class="navbar dinero mt-3 p-0">
      <img
        class="d-none d-md-block"
        :src="'/img/asg/logo/blanco/'+$store.state.config.img"
        :alt="$store.state.config.asgNombre"
      />
      <div v-if="$store.state.solicitud.idSolicitud !== 0" class="m-auto">
        <!-- PRECIO -->
        <p>Precio de tu seguro:</p>
        <span>{{$store.state.formData.precio | currency}}</span>
      </div>
      <div v-if="$store.state.solicitud.idSolicitud === 0" class="m-auto m-md-0">
        <!-- PRECIO -->
        <p>Precio de tu seguro:</p>
        <span>{{$store.state.formData.precio | currency}}</span>
      </div>
      <div
        class="m-auto m-md-0"
        v-if="$store.state.solicitud.idSolicitud !== 0 && $store.state.config.emision === true"
      >
        <!-- BTN COMPRA EN LINEA -->
        <!-- <a class="btn" target="_blank" rel="nofollow" role="button" @click="conectarAEmision()">
          <img src="/img/icon/carSuper.svg" alt="Compra en Línea" class="car" /> Compra en Línea
          <img src="/img/icon/indicador.png" alt="Compra en Línea" class="chevron" />
        </a> -->
      </div>
    </div>
    <!-- PEQUEÑA COSA BLANCA DE PREMIO -->
    <!-- <div class="container-fluid" v-if="$store.state.solicitud.idSolicitud !== 0">
      <div class="row align-items-center">
        <div class="col-12 p-0">
          <div class="contVip">
            <div class="vip"></div>
            <div class="promoVip">
              <img src="/img/icon/boletos.svg" alt="Boletos Vip" />
              <p>
                !Concluye tu compra en línea y obtén un pase doble VIP para el Cine!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="offset-md-4 col-md-8 p-0 mb-2" v-if="$store.state.solicitud.idSolicitud !== 0">
      <A />
    </div>-->
    <div class="rest">
      <img src="/img/icon/person.svg" alt="Call" />
      <!-- DATOS -->
      <p>
        <span>
          <!-- <b v-if="$store.state.solicitud.idSolicitud !== 0">{{$store.state.ejecutivo.nombre}}</b> -->
          <b>Un Ejecutivo</b>
          <!-- ({{$store.state.ejecutivo.correo}}) -->
        </span> se pondrá en contacto contigo o llama al
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
        >55{{$store.state.config.telefonoAS}}</a>
      </p>

      <!-- TABLA -->
      <span>
        <b class="d-block">Coberturas</b>
      </span>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cobertura</th>
              <th scope="col">Suma asegurada</th>
              <th scope="col">Deducible</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index">
              <td>{{item | showName}}</td>
              <td>{{item | showSuma}}</td>
              <td>{{item | showDeducible}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
  methods: {
    conectarAEmision() {
      var peticion = [];
      peticion.push({
        idSolicitud: this.$store.state.solicitud.idSolicitud,
        aseguradora: this.$store.state.cotizacion.Aseguradora,
        descripcion: this.$store.state.formData.descripcion,
        subDescripcion: this.$store.state.formData.subDescripcion,
        descuento: this.$store.state.cotizacion.Descuento,
        cotizacion: this.$store.state.cotizacion
      });
      // console.log(peticion);
      window.open(
        "https://gnp-comprasegura.com/?id=" +
          base64.encode(JSON.stringify(peticion[0])),
        "_blank"
      );
    }
  },
  filters: {
    showName: function(value) {
      return value.substring(
        value.lastIndexOf("-N") + 2,
        value.lastIndexOf("-S")
      );
    },
    showSuma: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-S") + 2,
        value.lastIndexOf("-D")
      );
      if (value_aux.indexOf(".") !== -1) {
        // Verifica si existe un punto en la suma
        if (value_aux.indexOf(".") === 1) {
          // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
          return "VALOR COMERCIAL";
        } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
          // Quita los decimales de Banorte
          return value_aux.substring(0, value_aux.indexOf("."));
          //  + "\nPOR EVENTO"
        }
        value_aux = value.substring(
          value.lastIndexOf("-S") + 2,
          value.lastIndexOf("-D") - 2
        ); // Quita los decimales de AFIRME
      }
      // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
      if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
        if (value_aux.indexOf(",") !== -1) {
          // Evita los precios sin formato de comas
          return "$ " + value_aux;
        }
        if (value_aux.length > 3) {
          // Evita los montos que no son lo suficientemente largos para tener comas
          if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
            // Se le agrega una coma
            value_aux =
              value_aux.substring(0, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
            // Se le agrega dos comas
            value_aux =
              value_aux.substring(0, value_aux.length - 6) +
              "," +
              value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          }
        } else if (value_aux.length === 1) {
          if (value_aux[0] === "1") {
            // Cambia los 1's de MAPFRE por AMPARADA
            return "AMPARADA";
          } else if (value_aux[0] === "0") {
            // Cambia los 0's por NO APLICA
            return "NO APLICA";
          }
        }
        return "$ " + value_aux; // Regresa los precios con el formato requerido
      }
      return value_aux.toString().toUpperCase(); // Regresa las palabras en   mayúsculas
    },
    showDeducible: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-D") + 2,
        value.lastIndex
      );
      if (value_aux.indexOf(".") !== -1) {
        // En caso de que haya decimales en el porcentaje
        value_aux = value_aux.substring(0, value_aux.indexOf("."));
        //   return value_aux + "%";
      }
      // ESTA VALIDACION ESTABA ANTES NO SE BIEN QUE HACIA PERO ESTABA
      // if (value_aux.indexOf(".") !== -1) {
      //   // En caso de que haya decimales en el porcentaje
      //   value_aux = value_aux.substring(0, value_aux.indexOf("."));
      //   return value_aux + "%";
      // }
      if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
        // Evita todos los que son dinero y los que son palabras
        if (value_aux.length > 3) {
          if (
            value_aux[0] === "0" &&
            value_aux[1] === "0" &&
            value_aux[2] === "0"
          ) {
            // Evita los tres ceros de Qualitas
            value_aux = value.substring(
              value.lastIndexOf("-D") + 5,
              value.lastIndex
            );
            if (value_aux[0] === "0") {
              // Si es cero se evita poner el signo de porcentaje
              return "NO APLICA";
            }
            return value_aux + " %";
          }
        } else if (value_aux[value_aux.length - 1] === "%") {
          // Evita colocar dos veces el signo de porcentaje
          return value_aux;
        } else {
          return value_aux + " %";
        }
      } else if (value_aux.length === 1) {
        // Verifica si solo es un caracter
        if (value_aux[0] === "0") {
          // Si es cero se sustituye por NO APLICA
          return "NO APLICA";
        }
        return value_aux + " %";
      } else if (value_aux.length === 0) {
        // Sustituye los espacios en blanco por NO APLICA
        return "NO APLICA";
      } else if (value_aux[0] !== "$") {
        return value_aux.toString().toUpperCase();
      }
      return value_aux;
    }
  }
};
</script>