<template>
<div>
<section>
<div class="card-body col-12">
    <div class="container">
    <div class="row">
    <div class="col-10 offset-1">
    <div class="row shake animated" style="background:/*#efefef*/#f6f4f0;border: 1px solid #e7e6e6;padding:10px;">
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <img style="width:auto;height:39px;display:inline-block;" src="/img/icon/amex.png" alt="amex" />
      <img style="width:auto;height:50px;display:inline-block;" src="/img/icon/amex-gold.png" alt="amex"/>
    </div>
    <div class="col-12 col-sm-9 col-md-10 col-lg-6">
      <p style="font-size:20px;font-weight:bold;margin-bottom: 0.2rem;">Obtén tu tarjeta de crédito. ¡Gratis, fácil y rápido!</p>
      <span>Obtén $2,000 en monedero electrónico en Liverpool</span>    
  </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <a href="https://www.americanexpresstarjetas.com/GoldElite?o=100326572&utm_source=ahorracredit&utm_medium=affiliates&utm_campaign=ahorracredit-digital&utm_content=goldgrcc" target="_blank" rel="nofollow" class="btn btn-block btn-success mt-2 fff" style="line-height:2;font-weight:bold;font-size:20px;">Solicitar aquí&nbsp;&nbsp;<img src="/img/icon/indicador.png"></a>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</section>
</div>
</template>

<style>
  .fff{color:#fff!important;}
  .animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}

@keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}
  .shake {-webkit-animation-name: shake;animation-name: shake;}
</style>