.promoVip{
  background: #fff;
  border-radius: 9px;
  margin: 0 0 10px;
  padding: 0 6px;
}
.contVip{
  width: 333px;
  float: right;
}
h1{color: #fff;}
.contVip p{
  margin: 0 5px;
  font-weight: bold;
  color: #444;
  padding: 7px 0;
}
.contVip img{
  width: 30px;
  margin: 15px 5px 4px 0;
  float: left;
}
.dauto {
  font-size: 22px;
  background-color: #b3086a;
  font-weight: 900;
  color: #fff;
  border-radius: 4px;
    max-width: 80%;
  width: max-content;
  margin: auto;
  padding: 5px 10px;
  /* box-shadow: 0 0 5px 2px rgb(0 0 0 / 20%); */
}
.vip {
  width: 0;
  height: 0;
  margin: auto;
  border-top: 12px solid #FFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(180deg);
}
body{
  margin: 0;
  background: #fff;
  line-height: 1.8;
}
.tri {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-bottom: 15px solid transparent;
  border-top: 33px solid #FFF;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
}
h2, h3, h4, h5 {
  color: #b3086a;
}
p, li {
  color: #444;
}
a, a:hover{
  text-decoration: none
}
ul{
  list-style: none;
  padding-left: 20px;
}
li img{
  width: 17px;
}
.navbar a img, .endCont img{
  width: 220px;
  margin: 10px 0;
}
.navbar img{
  width: 200px;
}
.btnTel a img{
  width: 25px;
  margin: 0;
}

.btnTel a{
  font-size: 18px;  
  color: #b3086a;
  border: 2px solid #b3086a;
  padding: 3px 10px;
  margin: 0 5px 0 0;
}
.btnTel a:hover{
  color: #d61683;
}
.btnTel p{
  font-size: 12px;
  padding: 0;
  margin: 0 0 -5px 10px;
  color: #b3086a;
}
.imgFondo {
  background-repeat: no-repeat;
  background-image: url(/img/asg/bg/bg.jpg);
  /* overflow: hidden; */
  background-size: cover;
  position: relative;
  
}
.colorFondo {
  background:rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
li > img{
  width: 17px;
}
.txtForm {
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 18px;
}

.form {
  padding: 4px 5px;    
}

.form select,
.form input {
  height: 52px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  font-size: 18px;
  color: #444;
}

.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 3px #007bff;
}

.form select.is-invalid,
.form input.is-invalid {
  box-shadow: 0 0 0 2px #ff0000;
}

.checkBox {
  margin: auto;
  padding: 5px 0;
}

.checkBox label,
.checkBox b {
  color: #fff;
  font-size: 14px;
}
.check b {
  color: #556;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  margin-top: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  margin-top: 0px;
}

.btnform {
  margin: 0;
  padding: 0 5px;
}

.btnform button {
  background: #00b62a;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  padding: 5px 0;
  margin: 0 0 15px 0;
}

.btnform button:hover {
  color: #fff;
  background: #089228;
}
.txt h1{
  font-size: 36px;
  color: #fff;
  margin: 5% 0 0 0;
}
.h1{
  color: #b3086a;
}
.txt p{
  margin: 3% 7% 4% 0%;
  padding: 0 15px 3px 3px;
  font-weight: bold;
  font-size: 24px;
  background-color: #fff;
  color: #444;
  border: 2px solid #b3086a;
  border-radius: 5px;
  position: absolute;
}

.card{
  text-align: center;
  padding: 5px 0;
  margin: -8% 0;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}
.card .row{
  align-items: center;
}
.card img{
  width: 180px;
}
.card img[name="img"]{
  width: 70px;
}
.card p{
  color: #b3086a;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
}
.cont{
  margin-top: 5%;
  font-size: 18px;
}
.addCont{
  text-align: center;
}
.addCont span{
  font-size: 32px;
}
.addCont p{
  font-size: 18px;
}
.p, .p:hover{
  font-size: 18px;
  color: #b3086a;
  font-weight: bold;
}
.addCont img{
  width: 120px;
  margin: 4% 0 0 0;
}
hr{
  border-bottom: 3px solid #b3086a;
  margin: 1% 0 0 15%;
  padding: 0;
  width: 70%;
}
.bgColor{
  background: #b3086a;
  text-align: center;
  padding: 0 0 1% 0;
}
.bgColor h2, .bgColor p{
  text-align: left;
  color: #fff;
}
.bgColor img{
  width: 60px;
}
.endCont{
  background: #f8f8f8;
  text-align: center;
}
.endCont .navbar p, .endCont .navbar a{
  color: #2B66AA;
  font-size: 16px;
}
.endCont p, a{
  /* font-size: 10px; */
  color: #b8b8b8;
  text-align: left;
}
.endCont p, a:hover{
  color: #b8b8b8;
}
.triGrey {
  width: 0;
  height: 0;
  margin: 0 0 0 5%;
  border-bottom: 15px solid transparent;
  border-top: 33px solid #fff;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
}
/* FOOTER */
.footer{
  background: #4e5d6a;
  padding: 0 0 1% 0;
}
.footer img{
  width: 200px;
}
.footer li{
  list-style: none;
  line-height: 1.4;
}
.footer a{
  color: #fff;
  font-size: 18px !important;
  
}
.footer a img{
  width: 8px;
  margin: -5px 5px 0 0;
}
.footer p{
  color: #fff;
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size: 18px;
}
.barra{
  border-bottom: 2px solid #fff;
  width: 63px;
  display: inline-block;
  margin: 0 5px 3px 0;
}
.footer span{
  color: #fff;  
}
.imgFooter{
  width: 200px !important;
}
.star a{
  font-size: 14px;
  margin: -5px 0 0 0;
  font-weight: normal;
  display: block;
}
.star span{
  font-size: 26px;
  color: #fff;
}
.botonTop{
  background: #2B66AA;
}
/* THANKS */
.txtVist{
  text-align: center;
}
.txtVist p{
  margin: 0;
  font-size: 1.3rem;
}
.txtVist b{
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.txtVist span{
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.dinero p{
  margin: 10px 0 -10px 0;
  color: #fff;
  font-size: 18px;
}
.dinero img{
  width: 180px;
}
.dinero span{
  color: #fff;
  font-size: 45px;
  font-weight: bold;
}
.dinero button{
  background: #b3086a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.dinero button:hover{
  background: #da0b80;
  color: #fff;
}
.rest{
  margin: 0 0 10px 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.rest span{
  color: #2B66AA;
  font-size: 18px;
}
.rest img{
  width: 50px;
  margin: 0 10px 15px 0;
  display: inline-block;
}
.rest a{
  color: #2B66AA;
  font-size: 18px;
  border-bottom: 1px solid #2B66AA;
}
.rest p{
  font-size: 16px;
  color: #556;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px 0;
  display: inline-block;
}
.rest b{
  color: #2B66AA;
}
.rest table{
  margin: 10px 0 0 0;
  text-align: left;
}
.rest th{
  padding: 2px 10px !important;
  background: #2B66AA;
  color: #FFF;
}
.rest td{
  padding: 2px 10px !important;
  color: #444;
}
.msj{
  margin: 20px 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.msj p{
  color: #555566;
  font-size: 18px;
}
.msj a{
  background: #b3086a;
  color: #fff;
  padding: 10px 15px;
}
.msj a:hover{
  background: #da0b80;
  color: #fff;
}
.sk-fading-circle .sk-circle:before {
  background-color: #fff;
}
.alertaColor {
  background: #b3086a;
}
.cont .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}
.cont thead th {
  padding: 6px 8px !important;
  color: #fff;
  border: 1px solid #fff;
  background: #da0b80;
}
.cont tbody td {
  padding: 5px 8px !important;
  font-weight: normal;
  border-top: 0;
  border: 1px solid rgb(192, 192, 192);
  color: #556;
}
.dinero a{
  background: #da0b80;
  color: #fff !important;
  padding: 9px 8px;
  border-radius: 8px;
  font-size: 20px;
  margin: 0 0 -15px;
}
.chevron{
  width: 20px !important;
  margin: 0 !important;
  position: relative !important;
}
.car{
  width: 30px !important;
  margin: 0 !important;
  position: relative !important;
}
.dinero a:hover{
  background: #da0b80;
}
@media (min-width: 1025px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
  .txtForm{
    font-size: 16px;
  }
  .txt h1{
    font-size: 28px;
    margin: 15% 0 0 0;
  }
  .txt p{
    font-size: 20px;
  }
  .txt img{
    width: 150px;
  }
  .card img {
    width: 150px;
  }
  .card img[alt="Reloj"] {
  width: 55px;
  }
  .card img[alt="Lista"] {
    width: 50px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist p{
    font-size: 26px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .contVip{
    width: 311px;
  }
  .txtForm{font-size:16px}
  h1{font-size: 1.6rem;}
  .contVip p{
    font-size: 15px;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 -4% 0;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .colorFondo{background-color: #b3086a;}
  .imgFondo{background-image: none;}
  .vip {
    margin: 30px auto 0;
  }
  .txtForm{font-size:16px}
  h1{font-size: 1.6rem;}
  .contVip{
    width: 100%;
    text-align: center;
  }
  .contVip img{
    float: none;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 -4% 0;
  }
  .card img {
    width: 150px;
  }
  .card img[alt="Reloj"] {
  width: 55px;
  }
  .card img[alt="Lista"] {
    width: 50px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest p, .rest a{
    font-size: 15px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 14px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 14px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .colorFondo{background-color: #b3086a;}
  .imgFondo{background-image: none;}
  .vip {
    margin: 30px auto 0;
  }
  h1{font-size: 1.5rem;}
  .contVip{
    width: 100%;
    text-align: center;
  }
  .contVip img{
    float: none;
  }
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .btnTel a{
    font-size: 16px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 -4% 0;
  }
  .card img {
    width: 140px;
  }
  .card img[alt="Reloj"] {
  width: 50px;
  }
  .card img[alt="Lista"] {
    width: 45px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 13px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .txtVist p, .rest span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 12px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .colorFondo{background-color: #b3086a;}
  .imgFondo{background-image: none;}
  .vip {
    margin: 30px auto 0;
  }
  h1{font-size: 1.4rem;}
  .contVip{
    width: 100%;
    text-align: center;
  }
  .contVip img{
    float: none;
  }
  .btnTel a{
    font-size: 14px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 11px;
  }
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 -4% 0;
  }
  .card img {
    width: 120px;
  }
  .card p {
    font-size: 9px;
  }
  .card img[alt="Reloj"] {
  width: 40px;
  }
  .card img[alt="Lista"] {
    width: 35px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 20px;
  }
  .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 12px;
    text-align: center;
  }
  .endCont img {
    width: 150px;
}
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .txtVist p, .rest span{
    font-size: 14px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 12px;
  }
  .dinero button{
    font-size: 12px;
  }
  #logoTax{
    width: 140px;
  }
}
@media (min-width: 250px) and (max-width: 279px) {
  #logoTax{
    width: 110px;
  }
.imgFondo{color: #b3086a;}
  .btnTel a{
    font-size: 14px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
}
.ibanner{max-height: 85px; width: auto;}

.adornoNormal{border:4px dotted #b3086a;border-radius:6px;}
.colorNormal{background:#b3086a;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}
/*Vista Desktop*/
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #ff0049;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left:-10px;background:#b3086a;color:#fff;border-radius:10px;padding:0px 12px; border: solid 3px;}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1.2rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.2rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.labelPromo{position:absolute;top:-10px;left:-10px;background:#b3086a;color:#fff;border-radius:10px;padding:0px 12px;}  
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1rem;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}
.form-floating{position:relative}
.form-floating>.form-control,.form-floating>.form-select{line-height:1.25}
.form-floating>label{position:absolute;top:0;left:0;height:100%;padding:1rem .75rem;pointer-events:none;border:1px solid transparent;transform-origin:0 0;transition:opacity .1s ease-in-out,transform .1s ease-in-out}
@media (prefers-reduced-motion:reduce)
{.form-floating>label{transition:none}}
.form-floating>.form-control{padding:1rem .75rem}
.form-floating>.form-control::-moz-placeholder{color:transparent}
.form-floating>.form-control::placeholder{color:transparent}
.form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown){padding-top:10px;padding-bottom:.625rem}.form-floating>.form-control:-webkit-autofill{padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-select{padding-top:1.625rem;padding-bottom:.625rem}.form-floating>.form-control:not(:-moz-placeholder-shown)~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:-webkit-autofill~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}