<template>
  <div class="container-fluid">
    <div class="row footer">
      <div class="triGrey"></div>
      <div class="col-xl-12 px-md-5">
        <div class="row">
          <!-- LOGO -->
          <div class="col-12 col-lg-3 text-center">
            <img width="200" height="48"
              src="/img/asg/logo/blanco/taxi.svg"
              :alt="$store.state.config.asgNombre"
            />
          </div>
          <!-- ELLACES -->
          <div class="col-6 col-lg-3">
            <p>Enlaces</p>
            <ul>
              <li>
                <a href="https://mejorsegurodeauto.mx/blog/" rel =" noreferrer " target="_blank">
                  <!-- > Blog -->
                  > Blog
                </a>
              </li>
              <li>
                <a href="#" data-toggle="modal" data-target="#avisopriv">> Aviso de Privacidad</a>
              </li>
            </ul>
            <br />
            <p>Group Sites</p>
            <ul>
              <li>
                <a href="https://onlineseguros.mx/" rel =" noreferrer " target="_blank">>  Online Seguros</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <p>Otros Seguros</p>
            <ul>
              <li>
                <a href="https://seguroselpotosi.mx" rel =" noreferrer " target="_blank">> Seguros el Potosí</a>
              </li>
              <li>
                <a href="https://seguroparauber.mx/" rel =" noreferrer " target="_blank">>  Seguro para Uber</a>
              </li>
              <li>
                <a href="https://gnpsegurosdeautos.mx" rel =" noreferrer " target="_blank">> GNP Seguros</a>
              </li>
              <li>
                <a href="https://qualitassegurosautos.com" rel =" noreferrer " target="_blank">> Qualitas Seguros</a>
              </li>
              <li>
                <a href="https://segurosmotos.com.mx" rel =" noreferrer " target="_blank">> Seguros para motos</a>
              </li>
              <li>
                <a href="https://lalatinoseguros.mx" rel =" noreferrer " target="_blank">> La latino Seguros</a>
              </li>
              <li>
                <a href="https://anasegurosautos.com" rel =" noreferrer " target="_blank">> ANA Seguros</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <p>Recomendado</p>
            <a href="https://ahorraseguros.mx/"  rel =" noreferrer " target="_blank">
              <img class="imgFooter" src="/img/asg/logo/ahorra.svg" width="200" height="41" :alt="$store.state.config.asgNombre" />
            </a>
          </div>
          <div class="col-12 text-center my-2">
            <span>
              <a href="#">segurosdetaxi.com.mx</a> | Operado por Agente de Seguros Autorizado
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>