<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 p-0">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/">
            <img id="logoTax" width="220" height="46" src="/img/asg/logo/taxi.svg" :alt="$store.state.config.asgNombre" />
          </a>
          <!-- BTN TEL -->
          <div class="btnTel">
            <a id="idTelDID"  :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img src="/img/icon/tel.svg" width="25" height="25" alt="Tel" />
              <b> (55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>