<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="colorFondo"></div>
          <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1 p-0">
              <div class="txtVist">
                <div>
                  <p id="idGraciasTaxis">
                    <b>Gracias por cotizar con {{$store.state.config.k1}}</b>
                  </p>
                  <div v-if="!$store.state.msj">
                    <span>En breve te llamaremos espera nuestra llamada.</span>
                  </div>
                 <div class="col-md-10 m-auto col-12 text-center rounded py-3 bg-white mt-lg-5" >
              <p class=" txtgracias font-weight-bold ">¡Hola! {{$store.state.formData.nombre}}</p>
              <p class=" txtgracias ">Encontramos el mejor precio del seguro de tu taxi</p>
              <p class=" txtgracias dauto text-center col-10 mx-auto rounded">{{this.$store.state.formData.marca}} {{ this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}} {{$store.state.formData.detalle}} </p>
            </div>
                </div>
              </div>
            </div>
            <div
              class="col-12"
              v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj"
            >
              <loader />
            </div>
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.cargandocotizacion">
              <tabla />
            </div>
            <!-- RESPUESTA -->
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.msjEje">
              <div class="msj">
                <!-- NOMBRE -->
                <p>
                  <span><b>Un Ejecutivo</b></span> se pondrá en contacto contigo o llama al
                  <span><b>55{{$store.state.config.telefonoAS}}</b></span>
                </p>
                <!-- TELEFONO -->
                  <a
                    :href="'tel:55'+$store.state.config.telefonoAS"
                    class="btn"
                  >Llamar Ahorra <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
            <!-- SIN RESPUESTA -->
            <!-- <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.msj">
              <div class="msj"> -->
                <!-- NOMBRE -->
                <!-- <p><span>Tenemos increíbles descuentos, por favor ponte en contacto con nosotros para recibir más información</span></p> -->
                <!-- TELEFONO -->
                  <!-- <a
                    :href="'tel:55'+$store.state.config.telefonoAS"
                    class="btn"
                  >Llamar Ahora <i class="fa fa-chevron-right"></i></a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <logica-component/>
  </div>
</template>


<script>
import tabla from "~/components/utilities/tabla.vue";
import loader from "~/components/utilities/preLoader.vue";
import logicaComponent from "~/components/common/logica.vue"

export default {
  layout: "thanks",

  components: {
    tabla,
    loader,
    logicaComponent
  },
  head() {
    return {
      title: "Seguros para Taxis - Cotiza tu seguro al mejor precio - Seguro de Taxis",
      meta: [
        {
          hid: "Seguros para taxi",
          name: "keywords",
          content:
            "Seguros para Taxis, seguros de taxis, seguros de taxis en México, seguros para taxis en México, seguro de auto para taxis, seguros taxis, mejor seguro de taxis"
        },
        {
          hid: "description",
          name: "description",
          content:
            "¿Quieres más protección para tus usuarios, auto y para tí en cada viaje? ¡Cotiza tu Seguro para Taxis en sólo 30 segundos¡"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        { hid: "author", name: "author", content: "mejorsegurodeauto" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosdetaxi.com.mx/email/thank-you/"
        }
      ]
    };
  }
};
</script>