<template>
  <div id="botonTop">
    <!-- <A /> -->
    <Header />
    <Modal />
    <div :class="$store.state.config.dominio+' -- VERSION 1'"></div>
    <Btn />
    <nuxt />
    <Footer />
  </div>
</template>
<script>
// import A from "~/components/alerta/alerta.vue";
import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components: {
    // A,
    Header,
    Modal,
    Btn,
    Footer
  }
};
</script>
