<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="colorFondo"></div>
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 d-md-block mt-lg-5">
                <h1 class="text-center">{{$store.state.config.titulo}}</h1>
                <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 mx-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <div class="col-xl-6 col-md-6">
              <div class="card  col-md-10 col-12 mx-auto">
                <div class="row">
                  <div class="col-4">
                    <img width="180" height="38"
                      src="/img/asg/logo/taxi.svg"
                      :alt="$store.state.config.k1"
                    />
                  </div>
                  <div class="col-4">
                    <img src="/img/icon/reloj.png" name="img" width="70" height="70" alt="Reloj" />
                    <p>Obtén tu póliza hoy mismo</p>
                  </div>
                  <div class="col-4">
                    <img src="/img/icon/mail.png" name="img" width="70" height="70" alt="Lista" />
                    <p>Sin trámites Complicados</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <Contenido /> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0">
          <!-- BENEFICIOS -->
          <div class="col-xl-10 offset-xl-1">
            <div class="addCont">
              <span>
                Recibe todos los beneficios en tu
                <b>Seguro para Taxis</b>
              </span>
              <hr />
              <div class="row">
                <div class="col-12 col-sm-4">
                  <img src="/img/icon/1.svg" width="120" height="79" :alt="$store.state.config.k2" />
                  <p>Asistencia vial</p>
                </div>
                <div class="col-12 col-sm-4">
                  <img src="/img/icon/2.svg" width="120" height="79" :alt="$store.state.config.k3" />
                  <p>Auto sustituto</p>
                </div>
                <div class="col-12 col-sm-4">
                  <img src="/img/icon/3.svg" width="120" height="79" :alt="$store.state.config.k4" />
                  <p>{{$store.state.config.msi}} {{this.$store.state.config.extraMsg}}</p>
                </div>
              </div>
            </div>
          </div>
          <!--Proteccion -->
          <section>
            <div class="bgColor">
              <div class="col-xl-10 offset-xl-1 px-xl-0">
                <div class="col-12">
                  <div class="tri"></div>
                </div>
                <h2>¡Protege tu herramienta de trabajo con un Seguro para Taxi!</h2>
                <p>Diariamente en México se completan 1.6 millones de viajes de taxi, ya sea libre o de sitio, es por eso que te platicaremos un poco acerca del Seguro para Taxi, ya que al estar transitando todo el día, son vehículos que cuentan con mayor probabilidad de sufrir un accidente o siniestro.</p>
                <p>En la República Mexicana es requisito obligatorio que los taxis cuenten con un seguro, mínimo por Responsabilidad Civil, sin embargo, en el caso de estos vehículos, es mejor contratar una cobertura más completa que pueda protegerte ante diversas situaciones, tanto a ti como a tus pasajeros.</p>
                <p>En el país hay decenas de compañías aseguradoras que ofrecen Seguros para Taxis, por lo que es muy sencillo que encuentres un plan que se adapte a tus necesidades y presupuesto.</p>
                <p>Hay que destacar que un taxi se encuentra todo el día circulando, lo que aumenta las posibilidades de sufrir un accidente o siniestro, por lo que este tipo de coberturas sí suelen tener un costo más elevado que un seguro convencional, ya que las aseguradoras calculan la probabilidad de los siniestros y están conscientes de que pueden desembolsar grandes cantidades de dinero o pueden hacerlo con frecuencia.</p>
                <p>A continuación te platicaremos un poco más acerca del Seguro de Auto para Taxi, así sabrás cuál es el plan que más te conviene.</p>
              </div>
            </div>
          </section>
          <section>
            <div class="col-xl-10 offset-xl-1 px-xl-0">
              <h2>Coberturas de los Seguros para Taxi</h2>
              <p>Los Seguros para Taxi cuentan con diferentes coberturas para que puedas elegir la que más se adapte a tus necesidades y presupuesto:</p>
              <div class="col-xl-10 offset-xl-1 px-1 px-xl-0 table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th scope="col">COBERTURA </th>
                      <th scope="col">AMPLIA</th>
                      <th scope="col">LIMITADA</th>
                      <th scope="col">RESPONSABILIDAD CIVIL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Daños Materiales -->
                    <tr>
                      <th scope="row">Daños Materiales</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!-- Rotura de Cristales -->
                    <tr>
                      <th scope="row">Rotura de Cristales</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!-- Robo Total -->
                    <tr>
                      <th scope="row">Robo Total</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td></td>
                    </tr>
                    <!-- Responsabilidad Civil por Daños a Terceros -->
                    <tr>
                      <th scope="row">Responsabilidad Civil por Daños a Terceros</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                    </tr>
                    <!-- Gastos Médicos del Conductor -->
                    <tr>
                      <th scope="row">Gastos Médicos del Conductor</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                    </tr>
                    <!-- Muerte del Conductor por Accidente Automovilístico-->
                    <tr>
                      <th scope="row">Muerte del Conductor por Accidente Automovilístico</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                    </tr>
                    <!-- Responsabilidad Civil Viajero -->
                    <tr>
                      <th scope="row">Responsabilidad Civil Viajero</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17"/>&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                    </tr>
                    <!-- Asistencia Jurídica -->
                    <tr>
                      <th scope="row">Asistencia Jurídica</th>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;</td>
                    </tr>
                    <!-- Asistencia Taxi -->
                    <tr>
                      <th scope="row">Asistencia Taxi</th>
                      <td>Opcional</td>
                      <td>Opcional</td>
                      <td>Opcional</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>Gracias a nuestro Cotizador de Seguros para Taxi podrás encontrar alguno de los planes que ofrecen las decenas de aseguradoras con las que trabajamos para que puedas respaldar tu herramienta de trabajo de manera muy sencilla y rápida.</p>
              <h2>¿Cómo funciona el Seguro para Taxi?</h2>
              <p>Como pudiste ver en la tabla anterior, los Seguros para Taxis cuentan con diferentes servicios de protección, por lo que a continuación te contaremos un poco acerca de cada uno de ellos:</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Daños Materiales: Se cubren los daños que sufra el automóvil a causa de choques, volcaduras, roturas de cristales, incendios, inundaciones, granizo, vandalismo, etc.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Rotura de Cristales: Pago o reposición de cristales en caso de un accidente, sin embargo, esto no será válido para los cristales que estén blindados.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Robo Total: Indemnización por un servicio que se le otorgará al asegurado en el supuesto caso del robo total, misma que será variable dependiendo de la compañía.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Responsabilidad Civil: Consta de otorgar Responsabilidad Civil en daños a terceros, principalmente cuando el asegurado origine estas situaciones usando el vehículo, cubriendo los bienes materiales, así como a personas externas, mientras que a los ocupantes les dará la atención médica que sea necesaria, además de las pérdidas o daños a sus pertenencias a causa de un asalto, robo, etc.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Muerte al Conductor: Abarca los gastos por fallecimiento del operador, mismo que sea propiciado por causas de un choque, etc.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Asistencia Legal: Consta de servicios profesionales de abogados las 24 horas, solventando el pago de fianza o por corralón al vehículo.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Asistencia Vial: Atender y respaldar imprevistos durante tus traslados, con la resolución de averías mecánicas, pinchaduras de llantas, pasa de corriente, envíos de gasolina, orientación médica, servicios de grúa para el arrastre del coche, e incluso un auto sustituto.</li>
              </ul>
              <h3>Beneficios de contar con Seguro para Taxi</h3>
              <p>Al contratar un Seguro para Taxi, automáticamente estarás recibiendo diferentes beneficios que te harán ver la excelente inversión que hiciste desde el primer momento.</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Se ampara económicamente al conductor en caso de que se declare culpable en un accidente, pagando todos los daños causados a un tercero.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Se hace cargo de la Responsabilidad Civil en la que se involucre el conductor.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Se cubren todos los gastos médicos, tanto de los pasajeros como a familiares del conductor, que sean ocasionados por un accidente vial.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Serán cubiertos todos los daños materiales que sufra el taxi, siempre y cuando sean por choques o algún siniestro o accidente, además de los daños parciales que se puedan reparar en talleres o agencias exclusivos.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Se presta el servicio de asesoramiento legal si el conductor se involucra en un accidente y pasa a mayores.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Si el taxi presenta alguna falla mecánica y la unidad deja de funcionar, los pasajeros serán llevados a su destino y a ti se te apoyará con algunos servicios que ya te mencionamos.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Si tus neumáticos sufren algún daño, recibirás asistencia para reemplazarlos o repararlos.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;En caso de que un pasajero se encuentre mal de salud, podrás pedir asistencia médica vía telefónica.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Si el taxi se queda sin gasolina o le falta bateria para continuar su marcha, se auxiliará al asegurado con paso de corriente y gasolina.</li>
              </ul>
              <h3>¿Por qué contratar Seguros de Taxi?</h3>
              <p>Además de todos los puntos que ya te mencionamos, aquí te enlistamos algunas razones más por las que un Seguro de Auto para Taxi puede ser muy beneficioso para ti, ya que te explicaremos cómo es que trabajan este tipo de pólizas.</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;La cobertura inicia cuando el pasajero aborda la unidad y finaliza cuando el pasajero sale del vehículo, es decir, únicamente durante los viajes.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;La responsabilidad de la aseguradora finaliza cuando se supera la suma asegurada que se estableció en el contrato; una vez superado el límite, el conductor debe solventar los gastos.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Al menos en la Ciudad de México, los taxis asegurados no deben tener más de 10 años de antigüedad para su contratación.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Para contratar un seguro, el taxi debe tener la documentación completa y en vigencia. Es decir, con placas emitidas que lo acrediten como auto de pasajeros.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Dentro de este tipo de seguros, solo se incluyen los taxis libres, de sitio, taxis de aeropuerto, taxis para turismo, pues los taxis privados de aplicaciones como Uber deben contratar otro tipo de coberturas.</li>
              </ul>
              <h3>¿Cómo se protege a los pasajeros y conductor con un Seguro para Taxis?</h3>
              <p>Los Seguros para Taxi cubren tres rubros, al conductor, a los pasajeros y daños a terceros.</p>
              <p>El conductor se encuentra protegido por:</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Responsabilidad Civil por daños ocasionados a la unidad.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Defensa legal para el conductor, pago de fianzas por daños que haya causado.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Gastos médicos, lesiones o muerte.</li>
              </ul>
              <p>Los pasajeros se encuentran protegidos por:</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Lesiones corporales producidas en el siniestro.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Asistencia médica, la cual incluye cirugías, hospitalización, enfermería, ambulancias, prótesis, medicina, cualquier gasto que surja a partir de un accidente.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Indemnización por incapacidad parcial, temporal o total.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Gastos funerarios e indemnización por muerte de quien por accidente de tránsito fallezca a bordo de la unidad asegurada.</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Indemnización por pérdida del equipaje o pertenencias.</li>
              </ul>
              <p>Los daños a terceros abarcan:</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Daños a otros conductores a partir de un siniestro o accidente provocado por la unidad asegurada.</li>
              </ul>
              <p>Como podrás ver, todas las personas involucradas en algún siniestro o accidente de taxi siempre se encontrarán protegidas mientras cuentes con la cobertura adecuada.</p>
              <h4>Requisitos para contratar Seguros de Taxis</h4>
              <p>Cada aseguradora te requerirá distintos datos para poder continuar con tu proceso de contratación de tu Seguro de Taxi, sin embargo, los requisitos más comunes son:</p>
              <ul>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Nombre completo del asegurado y del conductor</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Edad del asegurado y del conductor</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;RFC</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Dirección completa</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Teléfono</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Correo electrónico</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Beneficiarios</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Factura o tarjeta de circulación de la unidad</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Número de serie del vehículo</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Número de motor</li>
                <li><img src="/img/icon/check.svg" alt="check" width="17" height="17" />&nbsp;Placas de servicio público</li>
              </ul>
              <p>Recuerda proporcionar siempre datos reales, pues en caso contrario, la aseguradora se encuentra en el derecho de negarte el servicio o cancelar la póliza en caso de que ya haya sido contratada.</p>
              <h4>¿Por qué contratar Seguro de Auto para Taxi?</h4>
              <p>El motivo principal por el que debes contratar un Seguro de Auto para Taxi es porque en todo México es obligatorio que los vehículos cuenten con una cobertura, aunque sea mínima, para poder transitar por las distintas vialidades, por lo que contratando un seguro te evitarás el ser acreedor de una multa.</p>
              <p>Un Seguro para Taxi CDMX o cualquier otra ciudad del país, te respaldará y apoyará en caso de que te involucres en un accidente o siniestro, por lo que te estarás ahorrando miles de pesos y tiempo ya que la aseguradora se encargará de facilitar los procesos que conllevan la solución de los problemas.</p>
              <p>Lamentablemente, en México es muy común que el transporte público sufra de diversos siniestros, por lo que los conductores, propietarios y pasajeros se ven afectados de muchas formas, un seguro para taxi puede ser la mejor opción si lo que deseas es salir fácilmente de problemas y proteger tu patrimonio y a tus pasajeros.</p>
              <p>Si deseas Cotizar Seguro de Auto para Taxi, puedes hacerlo con nosotros, ya que aquí te asesoraremos sobre las distintas coberturas y costos que existen.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newAutosForm.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  layout: "index"&&"cookies",
  components: {
    formulario,
    cardpromo
  },
  beforeCreate() {
    this.$store.state.config.aseguradoraCatalogos = "QUALITAS";
    this.$store.state.config.aseguradora = "TAXI"
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.idPagina = 45;
    this.$store.state.config.idMedioDifusion = 12;
    this.$store.state.config.idSubRamo = 63;
    this.$store.state.config.dominioCorreo = "TAXIS|segurostaxis"
    this.$store.state.config.titulo = "Cotiza tu Seguro Para Taxi "; // INDEX
    this.$store.state.config.k1 = "Seguros para Taxis";
    this.$store.state.config.k2 = "seguros de taxis";
    this.$store.state.config.k3 = "seguros de taxis en México";
    this.$store.state.config.k4 = "seguros para taxis en México";
    this.$store.state.config.k5 = "seguro de auto para taxis";
    this.$store.state.config.k6 = "seguros taxis";
    this.$store.state.config.k7 = "mejor seguro de taxis";
    this.$store.state.config.gracias= '/thank-you'

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
     this.$store.state.config.subproduct="taxis"
  },
   async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradoraCatalogos,
        this.$store.state.config.subproduct
      );

            
        this.$store.commit("telApi");

  //Porcentajes y MESES SIN INTERESES
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
  head() {
    return {
      title: "🏅 Seguro para Taxis - Cotiza Seguros de Taxis en segundos",
      meta: [
        {
          hid: "Seguros para taxi",
          name: "keywords",
          content: "Seguro para Taxi, Seguros para Taxis, Seguro de Auto para Taxi, Seguros para Taxi, Cotizador de Seguros para Taxi, Seguros de Taxi, Seguro para Taxis, Seguros de Taxis, Seguro de Taxi, Seguro para Taxi CDMX, Cotizar Seguro de Auto para Taxi"
        },
        {
          hid: "description",
          name: "description",
          content: "Un Seguro para Taxi puede darte diferentes beneficios para que trabajes con tranquilidad. ✅ ¡Cotiza Seguros para Taxis en segundos!"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        { hid: "author", name: "author", content: "mejorsegurodeauto" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosdetaxi.com.mx/"
        }
      ]
    };
  }
};
</script>